#header-nav{
	background: grey;
	border: 1px solid black;
	border-radius: 0;
}
.navbar-brand h1{
	text-align: left;
}
#header-nav .container {
	margin-left: 0px !important ;  
}
#text{
	background: grey;
	margin: 20px ;
}
#nav-list hr{
	border-color: black;
	margin-bottom: 0 !important;
    margin-top: 0;
}
#nav-list{
	border: 1px black solid;
}

@media (max-width: 991px) {
.navbar-toggle{ 
    display: block !important;
    height: 28px !important;
    width: 28px !important;
    background: none !important;
    border: 1px solid black;
    padding-top: 0px !important;
}
}
